name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ci__${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  deploy-azure-changes:
    name: Deploy changes to Azure
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v4

      - name: Build and start container, and log in to Azure
        uses: ./.github/actions/build-start-and-login
        with:
          TAG: ${{ github.head_ref || github.ref_name }}
          SERVICE_PRINCIPAL_ID: ${{ vars.SERVICE_PRINCIPAL_ID }}
          SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.SERVICE_PRINCIPAL_PASSWORD }}

      - name: Deploy changes to the Azure environment
        id: deploy
        run: |
          docker compose \
            --file .github/ci/docker-compose.yml \
            exec azure bash -c \
            '
              set -e
              echo "Setting required Pimcore secrets in Key Vault..."
              resourceGroup=$(jq -r ".parameters.resourceGroupName.value" parameters.json)
              keyVaultName=$(jq -r ".parameters.keyVaultName.value" parameters.json)
              keyVaultResourceGroupName=$(jq -r --arg RESOURCE_GROUP "$resourceGroup" ".parameters.keyVaultResourceGroupName.value // \$RESOURCE_GROUP" parameters.json)
              az keyvault network-rule add \
                --name $keyVaultName \
                --resource-group $keyVaultResourceGroupName \
                --ip-address $(curl ipinfo.io/ip)
              az keyvault secret set \
                --vault-name $keyVaultName \
                --name "pimcore-encryption-secret" \
                --value "${{ secrets.PIMCORE_ENCRYPTION_SECRET }}"
              az keyvault secret set \
                --vault-name $keyVaultName \
                --name "pimcore-product-key" \
                --value "${{ secrets.PIMCORE_PRODUCT_KEY }}"
              az keyvault secret set \
                --vault-name $keyVaultName \
                --name "pimcore-instance-identifier" \
                --value "${{ secrets.PIMCORE_INSTANCE_IDENTIFIER }}"
              az keyvault network-rule remove \
                --name $keyVaultName \
                --resource-group $keyVaultResourceGroupName \
                --ip-address $(curl ipinfo.io/ip)
              ./provision.sh parameters.json
            '

      - name: Cancel Azure deployment if the deploy step failed or was cancelled
        if: always()
        continue-on-error: true
        run: |
          if [ ${{ steps.deploy.outcome }} == 'failure' ] || [ ${{ steps.deploy.outcome }} == 'cancelled' ]; then
            touch .env
            RESOURCE_GROUP=$(jq -r '.parameters.resourceGroupName.value' .github/ci/parameters.json) >> .env
            docker compose \
              --file .github/ci/docker-compose.yml \
              exec azure \
                az deployment group cancel \
                  --resource-group $RESOURCE_GROUP \
                  --name main
          fi

  deploy-skeleton-to-azure:
    name: Build and deploy Pimcore skeleton to Azure
    uses: TorqIT/pimcore-github-actions-workflows/.github/workflows/deploy-to-azure-container-apps.yml@v7
    needs: [deploy-azure-changes]
    with:
      ENVIRONMENT: test
      PROJECT_REPOSITORY: TorqIT/pimcore-skeleton
      PROJECT_REPOSITORY_REF: 2025.x-azure
    secrets:
      SERVICE_PRINCIPAL_ID: ${{ secrets.SERVICE_PRINCIPAL_ID }}
      SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.SERVICE_PRINCIPAL_PASSWORD }}
      PIMCORE_ENCRYPTION_SECRET: ${{ secrets.PIMCORE_ENCRYPTION_SECRET }}
      PIMCORE_PRODUCT_KEY: ${{ secrets.PIMCORE_PRODUCT_KEY }}
      PIMCORE_INSTANCE_IDENTIFIER: ${{ secrets.PIMCORE_INSTANCE_IDENTIFIER }}

  get-container-app-url:
    name: Set GitHub environment URL
    runs-on: ubuntu-latest
    environment: test
    outputs:
      url: ${{ steps.get-php-container-app-url.outputs.url }}
    needs: [deploy-skeleton-to-azure]
    steps:
      - uses: actions/checkout@v4

      - name: Build and start container, and log in to Azure
        uses: ./.github/actions/build-start-and-login
        with:
          TAG: ${{ github.head_ref || github.ref_name }}
          SERVICE_PRINCIPAL_ID: ${{ vars.SERVICE_PRINCIPAL_ID }}
          SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.SERVICE_PRINCIPAL_PASSWORD }}

      - name: Set environment URL
        id: get-php-container-app-url
        run: |
          echo "url=$(docker compose --file .github/ci/docker-compose.yml exec azure bash -c \
            '
              az containerapp show \
                --name $(jq -r ".parameters.phpContainerAppName.value" parameters.json) \
                --resource-group $(jq -r ".parameters.resourceGroupName.value" parameters.json) \
                --query properties.configuration.ingress.fqdn -o tsv
            '
          )" 
          >> $GITHUB_OUTPUT

  set-github-environment-url:
    name: Set GitHub Environment URL
    needs: [get-container-app-url]
    runs-on: ubuntu-latest
    environment:
      name: test
      url: ${{ needs.get-container-app-url.outputs.url }}
    steps:
      - name: GitHub Environment URL set
        run: echo "GitHub Environment URL set to ${{ needs.get-container-app-url.outputs.url }}"
